* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.3s;
    border-bottom: 2px solid aqua;
}
 @keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
} 

.navbar .logo {
    color: aqua;
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: color 0.5s;
}

.navbar ul li:hover a,
.navbar ul li:active a {
    color: aqua;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 5% 0;
    color: white;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
}

.home-info h1 {
    font-size: 50px;
    text-align: center;
}

.home-info h2 {
    font-size: 40px;
    margin-top: 10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.7px aqua;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%, 100% {
       display: none;
    }
} 

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    border-right: 2px solid aqua;
    color: aqua;
    white-space: nowrap;
    overflow: hidden;/*Eto ung ginamit ko para outline lang muna sa animation */
    animation: fill-text 4s linear infinite;/* eto naman ung animation na nag i-scan*/
}

@keyframes fill-text {
    10%, 100% {
       width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

.home-img .img-box {
    margin-left: 300px;
    position: relative;
    width: 32vw;
    height: 32vw;
    background: aqua;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    bottom: 1px;
    display: block;
    width: 85%;
    object-fit: cover;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: black;
    transform: translateY(-100%);
    animation: show-bars 1s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
}
